<footer class="wrap margin-block">
  <div class="container">
    <div class="row">
      <div class="span4 offset1 foo-block">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sem tortor, ac sagittis. Morbi mollis, neque sit amet convallis bibendum, leo purus commodo orci.</p>
      </div>
      <div class="span4 offset2 foo-block">
        <h3>Contact</h3>
        <p>
          Address: 978 South Buffalo Grove Road<br>
          Buffalo Grove, IL 60089
        </p>
        <p>
          Phone: (847) 947-7501<br>
          Email: helenjoffedds@hotmail.com
        </p>
      </div><!--end span3-->
    </div><!--end row-->
  </div><!--end container-->
</footer><!--end wrap-->
