<header class="wrap">
   <div class="container">
     <h1><a class="logo" href="index.html">Helen Joffe, DDS</a></h1>
     <nav id="nav-desktop">
       <ul class="menu">
         <li><a href="index.html">HOME</a></li>
         <li><a href="about.html">ABOUT US</a></li>
         <li><a href="services.html">SERVICES</a></li>
         <!-- <li><a href="faq.html">FAQ</a></li> -->
         <li><a href="contact.html">CONTACT</a></li>
       </ul>
     </nav>
   </div><!--end container-->
</header><!--end header-->
